@model EnclosuresASP.PL.Models.BlockVM

@{
    ViewBag.Title = "Редактировать блок";
}

@using (Ajax.BeginForm("EditBlock", "Enclosure", new { blockGuid = Model.BlockGuid.ToString() }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }, new { @id = "blockEditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.HiddenFor(x => x.Version)
        @Html.HiddenFor(x => x.EnclosureID)

        <div class="form-group">
            @Html.Label("UID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.UID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.UID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Заводской №", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Версия ПО", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.SoftwareVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.SoftwareVersion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Тип блока", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TypicalBlockID, Model.TypicalBlocks, "Выберите тип блока...", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <button class="k-primary" type="submit">Применить</button>
                    <button class="k-default" data-dismiss="modal" type="button">Отмена</button>
                    <script type="text/javascript">
                        $('.k-primary').kendoButton();
                        $('.k-default').kendoButton();
                    </script>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
     function onSuccess(result) {
        if (result.success == true) {
            var url = '@Url.Action("BlocksIndex", "Enclosure", new { id = Model.EnclosureID })';
            $('#blocksTable').load(url);
            $('#blockModal').modal('hide');
        }
        else {
            $('#blockModalBody').html(result);
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
