<style type="text/css">
    .k-upload {
        width: 550px;
    }
    .k-remove{
        display :inline;
    }
</style>

@model EnclosuresASP.PL.Models.EnclosureVM
@{
    ViewBag.Title = "Редактировать шкаф №" + Model.Number;
}

<br />

<div class="form-horizontal">
    <!-- Modal -->
    <div id="blockModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Добавить блок</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div id="blockModalBody"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Enclosure", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Version)
    <div class="form-horizontal">
        <h4>Шкаф №@Model.Number</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EnclosureID)
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="row">
            <div class="form-group">
                @Html.Label("Номер ШЭ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => Model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Номер ЭЛИС", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => Model.ElisNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.ElisNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Объект", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => Model.Object, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Object, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Принял", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => Model.EmployeID, Model.Employes, "Выберите сотрудника...", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Дата приёмки", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(x => x.AcceptanceDate, new { htmlAttributes = new { @class = "datepicker"} })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Пароль 1 уровня", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Lvl1Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Lvl1Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Пароль 2 уровня", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Lvl2Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Lvl2Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Пароль 3 уровня", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Lvl3Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Lvl3Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Пароль 4 уровня", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Lvl4Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Lvl4Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Пароль 5 уровня", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Lvl5Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Lvl5Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Комментарий", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Блоки
                </div>
                <div id="blocksTable">
                    @Html.Action("BlocksIndex", "Enclosure", new { id = Model.EnclosureID })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1">
                    <button id="addBlockBtn" type="button" class="btn btn-primary" data-url="@Url.Action("CreateBlock", "Enclosure", new { id = Model.EnclosureID })">Добавить</button>
                </div>
            </div>
        </div>

        @Html.Hidden("existing-files", Model.FilesJSON)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="files" id="files" type="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                <div class="btn-group">
                    <button id="submitBtn" name="submitBtn" class="k-primary" type="submit">Применить</button>
                    <button id="cancelBtn" name="cancelBtn" class="k-default" type="button" data-url="@ViewBag.returnUrl">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $('#addBlockBtn').click(function () {
        var url = $(this).data('url');
        $.get(url, function (data) {
            $('#blockModalBody').html(data);
            $('#blockModal').modal('show');
        });
    });

    function onError(e) {
        var element = document.getElementById('validityMsg');
        if (!element)
            $("#files").parent().after("<div class='validation' id='validityMsg' style='color:red;margin-bottom: 20px;'>Ошибка загрузки</div>")

        var removeButtonHtml = "<button class=\"k-button k-button-bare k-upload-action\" type=\"button\"><span title=\"Remove\" class=\"k-icon k-i-close k-delete\"></span></button>";
        var retryButtons = $('.k-retry').parent();
        try {
            retryButtons.each(function () {
                if ($(this).parent().html().indexOf(removeButtonHtml) === -1) {
                    $(removeButtonHtml).insertAfter($(this));
                }
            });
        }
        catch (e) { }
    }
    function onRemove() {
        var retryButtons = $('.k-retry').parent();
        if (retryButtons.length==1) {
            var element = document.getElementById('validityMsg');
            if (element) {
                element.parentNode.removeChild(element);
            }
        }
    }
    $(function () {
        var filesJson = $("[name$='existing-files']").val();
        var initFiles = JSON.parse(filesJson);
        $("#files").kendoUpload({
            async: {
                saveUrl: '@Url.Action("SaveFile", "Enclosure", new { id = Model.EnclosureID })',
                removeUrl: '@Url.Action("RemoveFile", "Enclosure", new { id = Model.EnclosureID })',
                autoUpload: true
            },
            multiple: true,
            localization: {
                select: 'Выберите файлы',
                remove: '',
                cancel: ''
            },
            files: initFiles,
            error: onError,
            remove: onRemove
        });

    });

    $("#submitBtn").kendoButton();
    $("#cancelBtn").kendoButton().click(function () {
        var url = $(this).data('url');
        window.location.href = url;
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
