@model EnclosuresASP.PL.Models.EmployeVM

@{
    ViewBag.Title = "Удаление записи";
}

<div class="row">
    <h4>Удалить запись о сотруднике?</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        @Html.HiddenFor(m => m.EmployeID)
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

        <div class="form-group">
            @Html.Label("ID", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.EmployeID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ФИО", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Должность", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.EmpPosition.PosName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    @{
        if (Model.Enclosures?.Count() > 0)
        {
            <p class="bg-danger">На этого сотрудника есть ссылки в других записях. Удаление записи о сотруднике приведёт к потере информации, ссылающейся на эту запись.</p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Шкафы, принятые сотрудником
                </div>
                <table class="table table-striped">

                    <tr>
                        <th class="text-center">Номер ШЭ</th>
                        <th class="text-center">Номер ЭЛИС</th>
                        <th class="text-center">Принял</th>
                        <th class="text-center">Дата приёмки</th>
                        <th class="text-center">Объект</th>
                        <th class="text-center">Блоки</th>
                        <th class="text-center">Файлы</th>
                        <th class="text-center">Комментарий</th>
                        <th></th>
                    </tr>

                    @if (Model.Enclosures.Count() == 0)
                    {
                        <tr>
                            <td colspan="8" class="text-center">Нет ни одной записи</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.Enclosures)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ElisNumber)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Supervisor.EmpPosition.PosName)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.Supervisor.FullName)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.AcceptanceDate)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Object)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Blocks.Count)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Files.Count)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td class="text-center">
                                    @{
                                        string editBtnName = "editBtn" + item.EnclosureID;
                                        string deleteBtnName = "deleteBtn" + item.EnclosureID;
                                        <button id=@editBtnName name=@editBtnName class="k-primary" type="button" data-url="@Url.Action("Edit", "Enclosure", new { id = item.EnclosureID, returnUrl = HttpContext.Current.Request.Url.AbsoluteUri })">Редактировать</button>
                                        <button id=@deleteBtnName name=@deleteBtnName class="k-primary" type="button" data-url="@Url.Action("Delete", "Enclosure", new { id = item.EnclosureID, returnUrl = HttpContext.Current.Request.Url.AbsoluteUri  })">Удалить</button>

                                        <script type="text/javascript">
                                            $('.k-primary').kendoButton().click(function () {
                                                var url = $(this).data('url');
                                                window.location.href = url;
                                            });
                                        </script>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EmployeID)
        @Html.HiddenFor(x => x.FullName)
        @Html.HiddenFor(x => x.PositionID)
        @Html.HiddenFor(x => x.Version)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <button id="deleteBtn" name="deleteBtn" class="k-primary" type="submit">Удалить</button>
                    <button id="cancelBtn" name="cancelBtn" class="k-default" type="button" data-url="@ViewBag.returnUrl">Отмена</button>
                    <script type="text/javascript">
                        $("#deleteBtn").kendoButton();
                        $("#cancelBtn").kendoButton().click(function () {
                            var url = $(this).data('url');
                            window.location.href = url;
                        });
                    </script>
                </div>
            </div>
        </div>
    }


</div>