<style type="text/css">
    /*.loginform {
        position: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }*/
    .navbar {
        display: none;
    }

    .aspfooter {
        display: none;
    }
</style>

@model EnclosuresASP.PL.Models.LoginVM
@{
    ViewBag.Title = "Авторизация на сайте";
}
<center>
    <h2>Войти</h2>

    @Html.ValidationSummary()
    <div class="loginform">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label>Логин</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Пароль</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary" type="submit">Войти</button>
        }
    </div>
</center>