@model EnclosuresASP.PL.Models.RoleVM

@{
    ViewBag.Title = "Удаление роли";
}

<div class="row">
    <h4>Удалить роль?</h4>
    <hr />

    <div class="form-horizontal">
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.Label("ID", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Наименование", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    @{
        if (Model.Users?.Count() > 0)
        {
            <p class="bg-danger">Один или несколько пользователей назначены на эту роль. Удаление роли приведёт к лишению пользователей привелегий, которыми она их обеспечивала.</p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Пользователи
                </div>
                <table class="table table-striped">

                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Имя</th>
                    </tr>

                    @if (Model.Users.Count() == 0)
                    {
                        <tr>
                            <td colspan="2" class="text-center">Нет ни одной записи</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.Users)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="btn-group">
                    <button id="deleteBtn" name="deleteBtn" class="k-primary" type="submit">Удалить</button>
                    <button id="cancelBtn" name="cancelBtn" class="k-default" type="button" data-url="@Url.Action("Roles", "Admin")">Отмена</button>
                    <script type="text/javascript">
                        $("#deleteBtn").kendoButton();
                        $("#cancelBtn").kendoButton().click(function () {
                            var url = $(this).data('url');
                            window.location.href = url;
                        });
                    </script>
                </div>
            </div>
        </div>
    }


</div>