@model EnclosuresASP.DAL.Identity.AppRole
@{
    ViewBag.Title = "Редактирование роли";
}


<p> @Html.ValidationSummary(false, "", new { @class = "text-danger" }) </p>
<div class="form-group">
    <label>Id</label>
    <p class="form-control-static">@Model.Id</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label>Название</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <button id="submitBtn" name="submitBtn" class="k-primary" type="submit">Применить</button>
    <button id="cancelBtn" name="cancelBtn" class="k-default" type="button" data-url="@Url.Action("Roles", "Admin")">Отмена</button>
}

<script type="text/javascript">
    $("#submitBtn").kendoButton();
    $("#cancelBtn").kendoButton().click(function () {
        var url = $(this).data('url');
        window.location.href = url;
    });
</script>